{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="header-container-lg"></div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Cart</h2>
        </div>
    </div>
    <div class="card p-2">
        <div class="row">
            <div class="col">
                {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Booking Details</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">No Nights</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}/{{ item.listing.lead_image }}">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.listing.name }}</strong></p>
                                    <p class="my-0">Check in: {{ item.start_date }}</p>
                                    <p class="my-0">Check out: {{ item.end_date }}</p>
                                    <p class="my-0">Selected Dates: {{ item.selected_dates }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.listing.price }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">{{ item.no_nights }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.listing.price | calc_subtotal:item.no_nights }}</p>
                                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Breakdown</p>
                                </td>
                            </tr>
                            {% for date in item.selected_dates %}
                                <tr>
                                    <td>
                                        <p>Date: {{ date }}</p>
                                    </td>
                                    <td>
                                        <p>Price per night: {{ item.listing.price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Cart Total: £{{ total|floatformat:2 }}</strong></h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'listings' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Amend or Add To Booking</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                    <span class="text-uppercase">Secure Checkout</span>
                                    <span class="icon">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                    <p>Your cart is empty</p>
                    <a href="{%  url 'listings' %}" class="btn btn-dark">Explore Listings</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

    //remove item from cart anmd reload
    $('.remove-item').click(function(e) {
        console.log("click")
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId);
        var url =`/cart/remove/${itemId}/`;
        console.log(url);
        var data = {'csrfmiddlewaretoken': csrfToken};
        console.log(data);

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })

</script>

{% endblock %}