{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="header-container-lg"></div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Cart</h2>
        </div>
    </div>



<div class="card p-2 p-md-5">
    <div class="row">
        <div class="col-12 mb-5">
            {% if cart_items %}
            {% for item in cart_items %}
            <div class="row">
                <div class="col-6">
                    <p class="font-weight-bold">Booking Details</p>
                </div>
                <div class="col-6 text-right">
                    <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                </div>
            </div>
            
            
                <div class="row">
                    <div class="col-2 col-md-4 mb-1">
                        <a href="{% url 'listing_detail' item.listing.id %}">
                            {% if item.listing.lead_image %}
                                <img class="w-100" src="{{ MEDIA_URL }}/{{ item.listing.lead_image }}" alt="{{ listing.name }}">
                            {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}/holding-image.jpg" alt="{{ listing.name }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-10 col-md-8">
                        <p class="my-0"><strong>{{ item.listing.name }}</strong></p>
                        <p class="my-0">Check in: {{ item.start_date }}</p>
                        <p class="my-0">Check out: {{ item.end_date }}</p>
                        <p class="my-0">{{ item.no_nights }} Night(s)</p>
                    </div>
                </div>
                <div class="row mb-1 mt-2">
                    <div class="col-2 col-md-4">
                    </div>
                    <div class="col-5 col-md-4">
                        <p class="my-0 font-weight-bold">Dates</p>
                    </div>
                    <div class="col-5 col-md-4">
                        <p class="my-0 font-weight-bold">Price</p>
                    </div>
                </div>
                {% for date in item.selected_dates %}
                <div class="row">
                    <div class="col-2 col-md-4">
                    </div>
                    <div class="col-5 col-md-4">
                        <p class="my-0">{{ date }}</p>
                    </div>
                    <div class="col-5 col-md-4">
                        <p class="my-0">£{{ item.listing.price }}</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row mb-1 mt-2">
                    <div class="col-7 col-md-4">
                    </div>
                    <div class="d-none d-md-block col-md-4">
                        <p class="my-0 font-weight-bold">Total Nights</p>
                    </div>
                    <div class="d-none d-md-block col-md-2">
                        <p class="my-0 font-weight-bold">Price</p>
                    </div>
                    <div class="col-5 col-md-2">
                        <p class="my-0 font-weight-bold">Subtotal</p>
                    </div>
                </div>
                <div class="row mb-1 mt-2">
                    <div class="col-7 col-md-4">
                    </div>
                    <div class="d-none d-md-block col-md-4">
                        <p class="my-0">{{ item.no_nights }}</p>
                    </div>
                    <div class="d-none d-md-block col-md-2">
                        <p class="my-0">£{{ item.listing.price }}</p>
                    </div>
                    <div class="col-5 col-md-2">
                        <p class="my-0">£{{ item.listing.price | calc_subtotal:item.no_nights }}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
            <div class="row">
                <div class="col-7 col-md-10">
                    <p class="my-0 font-weight-bold">Cart Total</p>
                </div>
                <div class="col-5 col-md-2">
                    <p><strong>£{{ total|floatformat:2 }}</strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 order-md-2 text-center text-md-right">
                    <a href="{% url 'checkout' %}" class="btn btn-dark rounded-0 btn-lg w-100 mb-4 mb-md-0">
                        <span>Secure Checkout</span>
                        <span>
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right">
                    <a href="{% url 'listings' %}" class="btn btn-outline-dark rounded-0 btn-lg w-100">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Amend or Add To Booking</span>
                    </a>
                </div>



            </div>
    </div>
    {% else %}
        <p>Your cart is empty</p>
        <a href="{%  url 'listings' %}" class="btn btn-dark">Explore Listings</a>
    {% endif %}
        </div>
    </div>
</div>

</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

    //remove item from cart anmd reload
    $('.remove-item').click(function(e) {
        console.log("click")
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        console.log(itemId);
        var url =`/cart/remove/${itemId}/`;
        console.log(url);
        var data = {'csrfmiddlewaretoken': csrfToken};
        console.log(data);

        $.post(url, data)
        .done(function() {
            location.reload();
        });
    })

</script>

{% endblock %}