{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid d-flex align-items-end">
        <div class="container">
            <h1 class="display-4">Escape Into Nature</h1>
            <p class="lead">Secluded holiday rentals for remote getaways</p>
            <a class="btn btn-dark dark-bg" href="#" role="button">Search & Book</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}