{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %} 

{% block page_header %}
<div class="header-container-lg"></div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <h2>Booking Confirmation</h2>
            <p>Your order information is below. A confirmation email will be sent to {{ order.email }}</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-8">
            <div class="card pl-lg-5 pr-lg-5 mb-4">
                <div class="card-body">
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h5 class="mb-0 text-center">Order Details</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Number:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0">Order Date:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h5 class="mb-0 text-center">Booking Details</h5>
                        </div>
                    </div>
                    <hr>
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <p class="mb-0">
                                Listing: {{ item.listing.name }}
                            </p>
                        </div>
                        <div class="col-12 col-md-4 text-md-right">
                            <p class="mb-0">Date(s): {{ item.date }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <hr >
                    <div class="row">
                        <div class="col">
                            <h5 class="mb-0 text-center">Contact Details</h5>
                        </div>
                    </div>
                    <hr >
                    <div class="row">
                        <div class="col-4 col-md-4">
                            <p class="mb-0">Name:</p>
                        </div>
                        <div class="col-8 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.first_name }} {{ order.last_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-md-4">
                            <p class="mb-0">Email:</p>
                        </div>
                        <div class="col-8 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.email }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4 col-md-4">
                            <p class="mb-0">Phone:</p>
                        </div>
                        <div class="col-8 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h5 class="mb-0 text-center">Billing Address</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-4 col-md-4">
                            <p class="mb-0">Address:</p>
                        </div>
                        <div class="col-8 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}{% if order.street_address2 %}, {{ order.street_address1 }}{% endif %}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-md-4">
                            <p class="mb-0">Town/ City:</p>
                        </div>
                        <div class="col-8 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>
                    {% if order.county %}
                    <div class="row">
                        <div class="col-4 col-md-4">
                            <p class="mb-0">County:</p>
                        </div>
                        <div class="col-8 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %} 
                  	{% if order.postcode %}
                    <div class="row">
                        <div class="col-4 col-md-4">
                            <p class="mb-0">Post Code:</p>
                        </div>
                        <div class="col-8 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-4 col-md-4">
                            <p class="mb-0">Country:</p>
                        </div>
                        <div class="col-8 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h5 class="mb-0 text-center">Billing Information</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <p class="mb-0 font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-6 col-md-8 text-md-right">
                            <p class="mb-0 font-weight-bold">£{{ order.order_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-dark">
                <span>Back To Profile</span>
            </a>
            {% else %}
            <a href="{% url 'listings' %}" class="btn btn-dark">
                <span>Explore More Listings</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
