{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container-lg"></div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Booking Confirmation</h2>
            <p>Your info is below, a confiration email...{{  order.email }}</p>
        </div>
    </div>

    <div class="card p-2">
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
</div>
{% endblock %}