{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}


{% block page_header %}
    <div class="header-container-lg"></div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="row align-items-center mb-lg-4">
            <div class="col-12 col-lg-8">
                    
            <!--Bootstrap carousel - conditional if set image-->
                {% if listing.lead_image %}
                    {% if listing.images.all %}
                        <div id="carouselExampleControls" class="carousel slide  carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ MEDIA_URL }}/{{ listing.lead_image }}" class="d-block w-100" alt="{{ listing.name }}">
                                </div>
                                {% for image in listing.images.all %}
                                    <div class="carousel-item">
                                        <img src="{{ MEDIA_URL }}/{{ image.name }}" class="d-block w-100" alt="{{ listing.name }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                            </button>
                        </div>
                    {% else %}
                        <img src="{{ MEDIA_URL }}/{{ listing.lead_image }}" class="d-block w-100" alt="{{ listing.name }}">
                    {% endif %}
                {% else %}
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}/holding-image.jpg" alt="{{ listing.name }}">
                {% endif %}
            </div>

            <div class="col-12 col-lg-4">
                <div class="card-body p-4">
                    <h3>{{ listing.name }}</h3>
                    <h4>Order Details</h4>

                    <!--With range select with form formatting-->
                        <form class="form" action="{% url 'add_to_cart' listing.id %}" method="POST">
                            {% csrf_token %}
                            <div class="container">
                                <div class="form-row">
                                    <div class="col-lg-12">
                                        <div class="row labels">
                                            <div class="col-lg-6">
                                                <label for="startDate" class="small">Check In Date</label>    
                                            </div>
                                            <div class="col-lg-6">
                                                <label for="endDate" class="small">Check Out Date</label>
                                            </div>
                                        </div>
                                    
                                        <div class="input-daterange row">
                                                <input type="text" id="startDate" class="form-control col-6" name="startDate">
                                                <input type="text" id="endDate" class="form-control col-6" name="endDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="form-row">
                                <div class="col-12">
                                    <a id="click-me" class="btn btn-dark w-100">Check Availability</a>
                                </div>
                            </div>
                            <p id="selectedNoNights"></p>
                            <!--End bootstrap-datepicker-->

                            <p class="small" id="price-per-night-container">Price per night: £<span id="price-per-night">{{ listing.price }}</span></p>
                            <p class="d-none" id="total-price-container">Total Price: £<span id="total-price"></span></p>

                            <div class="form-row">
                                <div class="col-12">
                                    
                                    <input type="submit" class="btn btn-dark w-100" value="Book Now"></input>

                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row p-2 mb-4">
                <div class="col-12">
                    <h4>Facilities</h4>
                    {% if listing.facilities %}
                            {% for facility in listing.facilities.all %}
                            <span data-toggle="tooltip" data-placement="top" title="{{ facility.friendly_name }}"><i class="{{ facility.font_awesome_class }} facility-icons-large"></i></span>
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row p-2 mb-4">
                <div class="col-12">
                    <h4>Description</h4>
                    <p>{{ listing.description }}</p>
                </div>
            </div>
            <div class="row p-2 mb-4">
                <div class="col-12">
                    <h4>Location</h4>
                    <div class="map">
                        <iframe src="{{ listing.map_embed }}" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'listings/includes/listing_detail_script.html' %}
{% endblock %}