{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container-sm"></div>
{% endblock %}

{% block content %}
    <div class="listings-image d-flex align-items-center mb-3">
        <div class="container">
            <h2 class="text-center">Listings</h2>
            <h3 class="lead text-center">Fnd the place to make you happy</h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for listing in listings %}
            <!--Landscape card-->
                <div class="card card-full-width mb-3">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-6 col-lg-7">

                            <!--Bootstrap carousel - conditional if set image. data-interval set to false to stop autoslide-->
                            {% if listing.lead_image %}
                                {% if listing.images.all %}
                                    <div id="carousel-{{ listing.id }}" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <a href="{% url 'listing_detail' listing.id %}">
                                                    <img src="{{ MEDIA_URL }}/{{ listing.lead_image }}" class="d-block w-100" alt="{{ listing.name }}">
                                                </a>
                                            </div>
                                            {% for image in listing.images.all %}
                                                <div class="carousel-item">
                                                    <a href="{% url 'listing_detail' listing.id %}">
                                                        <img src="{{ MEDIA_URL }}/{{ image.name }}" class="d-block w-100" alt="{{ listing.name }}">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-target="#carousel-{{ listing.id }}" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-target="#carousel-{{ listing.id }}" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                        </button>
                                    </div>
                                {% else %}
                                    <a href="{% url 'listing_detail' listing.id %}">
                                        <img src="{{ MEDIA_URL }}/{{ listing.lead_image }}" class="d-block w-100" alt="{{ listing.name }}">
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'listing_detail' listing.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}/holding-image.jpg" alt="{{ listing.name }}">
                                </a>
                            {% endif %}

                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="card-body p-lg-5">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="card-title">{{ listing.name }}</h5>
                                    </div>
                                    <div class="col-4 text-right">
                                        <p class="card-text small"><i class="fas fa-star mr-1"></i>X / 5</p>
                                    </div>
                                </div>

                                <hr class="mt-0">

                                <div class="row">
                                    <div class="col-7">
                                        {% if listing.region and listing.country %}
                                            <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{ listing.region }}, {{ listing.country }}</p>
                                        {% elif listing.country %}
                                            <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{ listing.country }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col-5 text-right">
                                    <p class="card-text"><i class="fa-solid fa-bed"></i> Sleeps {{ listing.no_sleeps }}</p>
                                    </div>
                                </div>

                                <!-- {% if listing.category %}
                                <p class="card-text">
                                    <a class="text-muted" href="">
                                        <i class="fas fa-tag mr-1"></i>{{ listing.category.friendly_name }}
                                    </a>
                                </p>
                                {% endif %} -->

                                {% if listing.facilities %}
                                    <div class="row pt-3 pb-2">
                                        <div class="col-12">
                                            {% for facility in listing.facilities.all %}
                                            <span data-toggle="tooltip" data-placement="top" title="{{ facility.friendly_name }}"><i class="{{ facility.font_awesome_class }} facility-icons-medium"></i></span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}

                                <hr class="mt-0">

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <p class="card-text">£{{ listing.price }} <span class="small">per night</span></p>
                                    </div>
                                    <div class="col-12 col-md-6 text-right">
                                        <a href="{% url 'listing_detail' listing.id %}" class="btn btn-dark">Book</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- end landscape card-->

                
            <!--portrait card card-->
            <!-- <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">

                       
                        {% if listing.lead_image %}
                            {% if listing.images.all %}
                                <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <a href="{% url 'listing_detail' listing.id %}">
                                                <img src="{{ MEDIA_URL }}/{{ listing.lead_image }}" class="d-block w-100" alt="{{ listing.name }}">
                                            </a>
                                        </div>
                                        {% for image in listing.images.all %}
                                            <div class="carousel-item">
                                                <a href="{% url 'listing_detail' listing.id %}">
                                                    <img src="{{ MEDIA_URL }}/{{ image.name }}" class="d-block w-100" alt="{{ listing.name }}">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                    </button>
                                </div>
                            {% else %}
                                <a href="{% url 'listing_detail' listing.id %}">
                                    <img src="{{ MEDIA_URL }}/{{ listing.lead_image }}" class="d-block w-100" alt="{{ listing.name }}">
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'listing_detail' listing.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}/holding-image.jpg" alt="{{ listing.name }}">
                            </a>
                        {% endif %}

                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <h5 class="card-title">{{ listing.name }}</h5>
                                </div>
                                <div class="col-4 text-right">
                                    <p class="card-text small"><i class="fas fa-star mr-1"></i>N/A</p>
                                </div>
                            </div>
                            
                            <hr class="mt-0">

                            <div class="row">
                                <div class="col-6">
                                    {% if listing.region and listing.country %}
                                        <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{ listing.region }}, {{ listing.country }}</p>
                                    {% elif listing.country %}
                                        <p class="card-text"><i class="fa-solid fa-location-dot"></i> {{ listing.country }}</p>
                                    {% endif %}
                                </div>
                                <div class="col-6 text-right">
                                    <p class="card-text"><i class="fa-solid fa-bed"></i> Sleeps {{ listing.no_sleeps }}</p>
                                </div>
                            </div>

                            {% if listing.facilities %}
                            <div class="row pt-2 pb-2">
                                <div class="col-12">
                                    {% for facility in listing.facilities.all %}
                                    <span data-toggle="tooltip" data-placement="top" title="{{ facility.friendly_name }}"><i class="{{ facility.font_awesome_class }}"></i></span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}

                            <hr class="mt-0">

                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text">£{{ listing.price }} <span class="small">per night</span></p>
                                </div>
                                <div class="col-6 text-right">
                                    <a href="{% url 'listing_detail' listing.id %}" class="btn btn-dark">Book</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'listings/includes/facility_icons_script.html' %}
{% endblock %}