.logo {
    font-size: large;
}

.icon {
    color: black;
}

/* --------------------- Media Queries --------------------- */

/* fixed top navbar only on medium and up */
/* from walkthrough */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}