/*---------------------Fonts-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Jost:wght@100;200;300;400;500;600;700&family=Poiret+One&display=swap');

/* --------------------- Colours --------------------- */

.green-bg {
    background-color: #474d23;
}

.light-text {
    color: #e1e2e7;
}

.ochre-text {
    color: #af9b32;
}

.green-text {
    color: #474d23;
}

.dark-bg {
    background-color: #111f24;
}

/* --------------------- Body, Logo and Heading Styles --------------------- */

body {
    background-color: #e1e2e7;
    color: #111f24;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Jost, sans-serif;
}

.fixed-top {
    background-color: #e1e2e7;
}

.logo {
    font-size: xx-large;
    padding-top: 8px;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    color: #474d23;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Slab', serif;
}

/* --------------------- Heading Containers --------------------- */
/*containers that push down template content beneath base template content*/

.header-container-lg {
    padding-top: 108px;
}

.header-container-sm {
    padding-top: 64px;
}

/* --------------------- Nav Bar --------------------- */

.navbar {
    padding-bottom: 0;
    height: 74px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.nav-hr {
    margin: 0;
    color: #474d23;
}

/* --------------------- Banner --------------------- */

#banner {
    background-color: #474d23;
}


#banner a {
    color:#f2f2f2;
}

/* --------------------- Footer --------------------- */

footer {
    min-height: 10vh;
    width: 100%;
}
  
footer .row {
    padding-top: 20px;
    text-align: center;
}

.social-links li a i {
    font-size: 32px;
    text-align: center;
    margin: 0;
}
  
/* class name and css originally from CV CI project */
a {
    color:#474d23;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

a:hover {
    color: #111f24
}

/* --------------------- Homepage --------------------- */

.jumbotron {
    background: url('/media/lonely-house-splash-image.jpg') no-repeat;
    background-size: cover;
    height: 50vh;
    color: #e1e2e7;
}

.category-card-title {
    font-size: x-large;
    font-family: Jost, sans-serif;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.25);
}

#featured-categories {
    background-color: #474d23;
}

#featured-categories .card {
    border: none;
}

/* --------------------- Listings Page --------------------- */

.listings-image {
    background: url('/media/lonely-house-splash-image.jpg') no-repeat bottom;
    height: 30vh;
    color: #e1e2e7;
}

.filter-tag {
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #111f24;
    padding: 0.375rem 0.75rem;
    font-size: small;
    line-height: 1.5;
    text-align: center;
    margin: 6px;
    text-transform: uppercase;
}

/* --------------------- Cards --------------------- */

.card-full-width {
    width: 100%;
}

.card-body {
    min-height: 148px;
}

/* --------------------- Icons & Buttons & Links --------------------- */

.icon {
    color: #474d23;
}

.facility-icons-large {
    font-size: x-large;
    margin: 6px;
}

.facility-icons-medium {
    font-size: large;
    margin: 4px;
}

.btt-link,
.remove-item {
    cursor: pointer;
}

.btn-full-width {
    width: 100%;
}

.btn-noborder {
    color: #343a40;
    border: 0px;
}

.btn-noborder:hover {
    text-decoration: underline;
}

.inline-link {
    text-decoration: underline;
}

/* --------------------- Forms & Dropdowns --------------------- */

.form-control {
    background-color: #f2f2f2;
    border-radius: 25px;
    color: #000;
}

.form-control input::placeholder {
    color: #495057;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    width: 100%;
}

.dropdown-menu-full-width {
    width: 100%;
}

input.larger {
    transform: scale(2);
    margin-right: 0.5rem;
    accent-color: #474d23;
  }

/* --------------------- Toasts --------------------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*--------------------------------------------Map*/

#map {
    min-height: 360px;
}


/* --------------------- Featured Reviews --------------------- */

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.reviews-height {
    height: 255px;
}

/* --------------------- Media Queries --------------------- */

/* changes logo size based on screensize */
@media (max-width: 320px) {
    .logo {
        font-size: large;
    }
}

@media (min-width: 321px) and (max-width: 425px) {
    .logo {
        font-size: x-large;
    }
}

/* changes nav link based on screensize */
@media (min-width: 1024px) {
    .nav-link {
        font-size: 1.25rem;
    }
}

/* Filters collapse on smaller screens */
@media (min-width: 1024px) {
    .collapse.collapse-smaller-screens {
      display: block;
      height: auto !important;
      visibility: visible;
    }
}

/*listings spalash image on larger screens. Media query to fix mobile and ipad appearance*/
@media (min-width: 1024px) {
    .listings-image {
        background: url('/media/lonely-house-splash-image.jpg') no-repeat fixed;
        background-size: cover;
        height: 30vh;
        color: #e1e2e7;
    }
}

/* Search and book banner adjustments */
@media (max-width: 425px) {
    .header-container-lg {
        padding-top: 144px;
    }
    
    .header-container-sm {
        padding-top: 96px;
    }
}

/* Listing Detail page key features seperated by borders */
@media (min-width: 768px) {
    .large-screen-borders {
        border-left: 1px solid rgba(0,0,0,.125);
        border-right: 1px solid rgba(0,0,0,.125);
    }

}
