/*---------------------Fonts-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&family=Jost:wght@100;200;300;400;500;600;700&family=Poiret+One&display=swap');

/* font-family: 'Josefin Slab', serif;
font-family: 'Jost', sans-serif;
font-family: 'Poiret One', cursive; */

/* --------------------- Colours --------------------- */
/* Ocre #af9b32
liac #909ace
green #474d23
dark #111f24
mist #e1e2e7 */

.green-bg {
    background-color: #474d23;
}

.light-text {
    color: #e1e2e7;
}

.dark-bg {
    background-color: #111f24;
}

/* --------------------- Base Template --------------------- */

body {
    background-color: #e1e2e7;
    color: #111f24;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Jost, sans-serif;
}

.logo {
    font-size: xx-large;
    padding-top: 8px;
    padding-left: 16px;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    color: #e1e2e7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Slab', serif;
}

.header-container {
    padding-top: 64px;
}

#search-bar {
    background-color: white;
}

.navbar {
    padding-bottom: 0;
    height: 74px;
    z-index: 1;
}

.nav-background {
    background-color: #474d23;
    width: 100%;
    height: 74px;
    z-index: -10;
}

footer {
    min-height: 10vh;
    width: 100%;
  }
  
  footer .row {
    padding-top: 20px;
    text-align: center;
  }
  
  /* class name and css originally from CV CI project */
  .social-links li a i {
    font-size: 32px;
    text-align: center;
    color:#474d23;
    margin: 0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
  }
  
  .social-links li a i:hover {
    color: #111f24
  }

/* --------------------- Hopmepage --------------------- */

.jumbotron {
    background: url('/media/holding-image-green-test.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 50vh;
    color: #e1e2e7;
}

/* --------------------- Cards --------------------- */

.card-full-width {
    width: 100%;
}

/* --------------------- Icons & Buttons --------------------- */

.icon {
    /* color: #111f24; */
    color: #e1e2e7;
}

/* .btn-dark {
    border: none;
}

.btn-dark:hover {
    background-color: #474d23;
  } */

/* --------------------- Media Queries --------------------- */

/* fixed top navbar only on medium and up */
/* from walkthrough */
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    /* .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } */

}

@media (max-width: 425px) {
    .logo {
        font-size: large;
    }
}