<script type="text/javascript">
//     let facilities = [];

//     function addFaciltyIconsToListings() {
//         facilities = ["dog_friendly", 
//                 "wheelchair_accessible", 
//                 "hot_water", 
//                 "central_heating", 
//                 "fireplace", 
//                 "bath", 
//                 "shower", 
//                 "washing_machine",
//                 "hob",
//                 "oven",
//                 "fridge",
//                 "tv",
//                 "wifi",
//                 "bbq",
//                 "cot"];
//         for (let i=0; i < facilities.length; i++) {
//             console.log(facilities[i]);

//         };
//     };
    
// addFaciltyIconsToListings();

$('[data-toggle="tooltip"]').tooltip()

</script>