<script type="text/javascript">

    function getUnavailableDates() {
            let bookedDatesString = $("#hidden-field-booked-dates").text();
            let bookedDatesStringReplaced = bookedDatesString.replace("[", "").replace("]", "").replaceAll("'", "");
            let bookedDatesArray = bookedDatesStringReplaced.split(",");
            // console.log(typeof(bookedDatesArray));
            return bookedDatesArray
        }

    const unavailableDates = getUnavailableDates();
        // console.log(unavailableDates)

    //sample available dates. Need to replace with a database
    // Also note its not currently counting the 'Checkout date' - it would need to be one fewer date if this is the case
    // var unavailableDates = ["2022-11-15","2022-11-16"]

    const showBookNowButton = () => {
        $("#book-now-button").removeClass("d-none");
    }

    /**
     * Calculates the total price the user will pay based on the dates they have selected
     * Multiplies the number of nights by the price per night
     * Updates the UI to show user the total price.
    */
    function calculatePrice(nights) {
        let pricePerNight = $("#price-per-night").text();
        let pricePerNightInt = parseInt(pricePerNight);
        let nightsInt = parseInt(nights);
        let totalPrice = nightsInt * pricePerNightInt;
        $("#total-price").text(totalPrice);
        $("#total-price-container").removeClass("d-none");
        showBookNowButton();
    }

    function setHiddenInputFieldValue(inputFieldId, value) {
        $(`"${inputFieldId}"`).val(value)
    } 

    /**
     * Updates the UI based on the number of nights stay 
     * Uses Night or Nights depending if stay is 1 night or more
     * Has a clause in case selection is 0
     * To do - make 0 night impossible or grey out button
    */
    function showNights(nights) {
        if (nights == "0") {
            $("#selectedNoNights").text("Please select a valid number of nights");
        } else if (nights == "1") {
            $("#selectedNoNights").text(`${nights} Night`);
        } else {
            $("#selectedNoNights").text(`${nights} Nights`);
        };
        
    }

    /**
     * Uses maths to calculate the number of nights between two dates.
     * Takes the user's selected start date and end as parameters
     * Prompts function to show the number of nights to the user
     * Prompts function to calculate the total price
     * TO DO refactor to just count no nights array length -1
     * */
    function calculateNights(selectedStartDate, selectedEndDate) {
        var date1 = new Date(selectedStartDate);
        var date2 = new Date(selectedEndDate);
        var timeDiff = Math.abs(date2.getTime() - date1.getTime());

        var nights = Math.floor(timeDiff / (1000 * 3600 * 24)); 
        //var months = Math.floor(nights / 31);
        //var years = Math.floor(months / 12);

        showNights(nights);
        $('#selected-no-nights-input').val(nights)
        calculatePrice(nights);
    }

    const displaysDatesNotValidToUser = () => {
        $("#dates-invalid-alert").removeClass("d-none");
    }

    /**
     * Uses maths to calculate the number of nights between two dates.
     * Takes the user's selected start date and end as parameters
     * If ok - Prompts functions to show the number of nights to the user, and calulcate the total price
     * If not ok - will prompt the user to pick new dates
     * To do - Make prompt. Also refactor
     * */
    function checkDatesAreValid(newDateArray, selectedStartDate, selectedEndDate) {
            let okToContinue = true
            for (let i=0; i<newDateArray.length; i++) {
                if ($.inArray(newDateArray[i], unavailableDates) != -1) {
                    let okToContinue = false
                    displaysDatesNotValidToUser();
                    return okToContinue
                };
            };
            //if oktocontinue
            $('#selected-dates-array-input').val(newDateArray)
            calculateNights(selectedStartDate, selectedEndDate)
    };

    //function to make array of inbetween dates. To do - understand!
    Date.prototype.addDays = function(days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }

    //function to make array of inbetween dates. To do - understand!
    function getDates(startDate, stopDate) {
        var dateArray = new Array();
        var currentDate = startDate;
        while (currentDate <= stopDate) {
            dateArray.push(new Date (currentDate));
            currentDate = currentDate.addDays(1);
        }
        return dateArray;
    }

    /**
     * Makes an array of dates included in date range. Includes start date, end date and every day inbetween.
     * uses above two functions
     * To do - understand this better and refactor!
    */
    function makeArrayOfDates(selectedStartDate, selectedEndDate){
        //calling function to make array of inbetween dates
        var dateArray = getDates(new Date(selectedStartDate), (new Date(selectedEndDate)).addDays(0));
        var newDateArray = [];
        for (i = 0; i < dateArray.length; i ++ ) {
            newDateArray.push(dateArray[i].toISOString().split('T')[0]);
        }
        // refactor so selected dates do not need to be passed as an arguement.
        checkDatesAreValid(newDateArray, selectedStartDate, selectedEndDate);
    }

    /**
     * Gets the date from the datepicker, formatted in a specific way.
     * Calls a function to make an array of all dates
     * To do - see if this is the best format - and can I make this a more generic function?
    */
    function getSelectedDates() {
        var selectedStartDate = $("#startDate").data('datepicker').getFormattedDate('yyyy-mm-dd');
        var selectedEndDate = $("#endDate").data('datepicker').getFormattedDate('yyyy-mm-dd');
        makeArrayOfDates(selectedStartDate, selectedEndDate)
    }


    /**
     * Resets 'Number of nights' text
     * Hides the total price container and removes content
     * Allows the user to select different dates and see nights/ price live update without needing to refresh page.
    */
    function resetNightsAndPrice() {
        $("#selectedNoNights").text("");
        $('#selected-no-nights-input').val("")
        $("#total-price-container").addClass("d-none");
        $("#total-price").text("");
        $("#dates-invalid-alert").addClass("d-none");
        $("#book-now-button").addClass("d-none");
    }

    $(document).ready(function() {

        $('.input-daterange').datepicker({
            // format to match python - beware of 0-11 or 1-12 months
            format: 'yyyy-mm-dd',
            startDate: '+1d',
            autoclose: true,
            beforeShowDay:
                /**
                * Checks whether dates are available - Currently pulling from variable array. Needs updating to work with database.
                * If date is unavailable it greys out the date in the datepicker.
                * To do - find a better solution to combines both unavailable date arrays.
                * To do -  take this function out of document ready
                */
                function available(date) {
                    // handles 0-11 difference with +1 to month
                    YearMonthDay = date.getFullYear() +  "-" + (date.getMonth()+1) + "-" + date.getDate();
                    if ($.inArray(YearMonthDay, unavailableDates) != -1) {
                        return false;
                    } else {
                        return true;
                    }
                }
            });
        
    
        // Updates either  theselect check-in or check-out dates
        // Means that the user cannot set a check-out date earlier than check-in, and vice versa
        //To do - put in function and take content out of on page ready
        var startDate = new Date($('#startDate').val());
        var endDate = new Date($('#endDate').val());
        var $start = $(".input-daterange").find('#startDate');
        var $end = $(".input-daterange").find('#endDate')  
        $start.datepicker('setDate', startDate);
        $end.datepicker('setDate', endDate);

        
        /**
         * Event listener for date submit button. User to press once they have selected dates
         * Calls function to reset nights and total price
         * Calls function to get selected dates...
         * To do - grey out button so it cannot be pressed if no dates selected.
        */
        $('#click-me').click(function() { 
            resetNightsAndPrice();
            getSelectedDates();
        });

        // Tooltip hover script. Also present on All Listings page
        // To do - only have in one place?
        $('[data-toggle="tooltip"]').tooltip()

    });

</script>