<script>
    /**
     * Script that handles datepicker on Listing Detail Page
     * Unavailable dates are passed in as JSON
     * The date picker loads with unavailable dates greyed out
     * The date picker allows the user to select a range of dates
     * The user is informed if their selected dates are valid or invalid.
     * If valid, then the user can click the book now button which adds item to cart. 
    */

    /**
     * Gets unavailable dates for booking 
     * passed into page as JSON
     * formats and returns as a JS array
    */
    function getUnavailableDates() {
        let listingBookings = $("#id_listing_bookings").text().replace("[", "").replace("]", "").replaceAll('"', "").replaceAll(" ", "");
        let unavailableDatesArray = listingBookings.split(",");
        return unavailableDatesArray;
    }

    const unavailableDates = getUnavailableDates();

    const showBookingForm = () => {
        $("#book-now-button").removeClass("d-none");
        $(".hidden-booking-form").removeClass("d-none");
    };

    /**
     * Calculates the total price the user will pay based on the dates they have selected
     * Multiplies the number of nights by the price per night
     * Updates the UI to show user the total price.
    */
    function calculatePrice(nights) {
        let pricePerNight = $("#price-per-night").text();
        let pricePerNightInt = parseInt(pricePerNight);
        let nightsInt = parseInt(nights);
        let totalPrice = nightsInt * pricePerNightInt;
        $("#total-price").text(totalPrice);
        $("#total-price-container").removeClass("d-none");
        showBookingForm();
    }

    /**
     * Updates the UI based on the number of nights stay 
     * Uses Night or Nights depending if stay is 1 night or more
     * Has a clause in case selection is 0
    */
    function showNights(nights) {
        if (nights == "0") {
            $("#selectedNoNights").text("Please select a valid number of nights");
        } else if (nights == "1") {
            $("#selectedNoNights").text(`${nights} Night`);
            calculatePrice(nights);
        } else {
            $("#selectedNoNights").text(`${nights} Nights`);
            calculatePrice(nights);
        }
    }

    /**
     * Uses maths to calculate the number of nights between two dates.
     * Takes the user's selected start date and end as parameters
     * Prompts function to show the number of nights to the user
     * Prompts function to calculate the total price
     * */
    function calculateNights(selectedStartDate, selectedEndDate) {
        var date1 = new Date(selectedStartDate);
        var date2 = new Date(selectedEndDate);
        var timeDiff = Math.abs(date2.getTime() - date1.getTime());
        var nights = Math.floor(timeDiff / (1000 * 3600 * 24)); 
        showNights(nights);
        $('#selected-no-nights-input').val(nights);
    }

    const displaysDatesNotValidToUser = () => {
        $("#dates-invalid-alert").removeClass("d-none");
    };

    /**
     * Uses maths to calculate the number of nights between two dates.
     * Takes the user's selected start date and end as parameters
     * If ok - Prompts functions to show the number of nights to the user, and calulcate the total price
     * If not ok - will prompt the user to pick new dates
     * */
    function checkDatesAreValid(newDateArray, selectedStartDate, selectedEndDate) {
            let okToContinue = true;
            for (let i=0; i<newDateArray.length; i++) {
                if ($.inArray(newDateArray[i], unavailableDates) != -1) {
                    okToContinue = false;
                    displaysDatesNotValidToUser();
                    return okToContinue;
                }
            }
            //if oktocontinue
            $('#selected-dates-array-input').val(newDateArray);
            calculateNights(selectedStartDate, selectedEndDate);
    }

    // Used by makeArrayOfDates function to make array of inbetween dates.
    Date.prototype.addDays = function(days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    };

    // Used by makeArrayOfDates function to make array of inbetween dates.
    function getDates(startDate, stopDate) {
        var dateArray = [];
        var currentDate = startDate;
        while (currentDate <= stopDate) {
            dateArray.push(new Date (currentDate));
            currentDate = currentDate.addDays(1);
        }
        return dateArray;
    }

    /**
     * Makes an array of dates included in date range. Includes start date, end date and every day inbetween.
     * uses above two functions
    */
    function makeArrayOfDates(selectedStartDate, selectedEndDate){
        //calling function to make array of inbetween dates
        var dateArray = getDates(new Date(selectedStartDate), (new Date(selectedEndDate)).addDays(0));
        var newDateArray = [];
        for (let i = 0; i < dateArray.length; i ++ ) {
            newDateArray.push(dateArray[i].toISOString().split('T')[0]);
        }
        if (newDateArray.length <= 1) {
            $('#dates-not-selected-alert').removeClass('d-none');
        }
        else {
            $('#dates-not-selected-alert').addClass('d-none');
            checkDatesAreValid(newDateArray, selectedStartDate, selectedEndDate);
        }
    }

    /**
     * Gets the date from the datepicker, formatted in a specific way.
     * Calls a function to make an array of all dates
    */
    function getSelectedDates() {
        var selectedStartDate = $("#startDate").data('datepicker').getFormattedDate('yyyy-mm-dd');
        var selectedEndDate = $("#endDate").data('datepicker').getFormattedDate('yyyy-mm-dd');
        makeArrayOfDates(selectedStartDate, selectedEndDate);
    }

    /**
     * Resets 'Number of nights' text
     * Hides the total price container and removes content
     * Allows the user to select different dates and see nights/ price live update without needing to refresh page.
    */
    function resetNightsAndPrice() {
        $("#selectedNoNights").text("");
        $('#selected-no-nights-input').val("");
        $("#total-price-container").addClass("d-none");
        $("#total-price").text("");
        $("#dates-invalid-alert").addClass("d-none");
        $("#book-now-button").addClass("d-none");
        $(".hidden-booking-form").addClass("d-none");
    }

    $(document).ready(function() {

        /**
        * Initialises datepicker on listing detail page
        * Users can only book from tomorrows date.
        * Set to yyyy-mm-dd format for calculations.
        */
        $('.input-daterange').datepicker({
            // format to match python - beware of 0-11 or 1-12 months
            format: 'yyyy-mm-dd',
            startDate: '+1d',
            clearBtn: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            beforeShowDay:
                /**
                * Checks whether dates are available
                * If date is unavailable it greys out the date in the datepicker.
                */
                function available(date) {
                    // handles 0-11 difference with +1 to month
                    let YearMonthDay = date.getFullYear() +  "-" + ('0' + (date.getMonth()+1)).slice(-2) + "-" + ('0' + date.getDate()).slice(-2);
                    if ($.inArray(YearMonthDay, unavailableDates) != -1) {
                        return false;
                    } else {
                        return true;
                    }
                }
            });
    
        /**
         * Displays user's selected dates as a range
         * Means that updates made via text input are reflected on the calender.
        */
       // set up vars
        var startDate = new Date($('#startDate').val());
        var endDate = new Date($('#endDate').val());
        // finds the date in the input field
        var $start = $(".input-daterange").find('#startDate');
        var $end = $(".input-daterange").find('#endDate');
        // updates the datepicker
        $start.datepicker('setDate', startDate);
        $end.datepicker('setDate', endDate);

        /**
         * Updates end date when start date is changed.
         * Adds on an extra day by default, as user can't check in and out on the same day
         * Used instead of clearing dates as datepicker doesn't open on correct month or year.
         * Does mean the end date will always get changed when the start date is changed. 
        */
        $('#startDate').datepicker({
        }).on('changeDate', function(){
            console.log("change function called");
            var startDateNew = new Date($('#startDate').val());
            startDateNew.setDate(startDateNew.getDate() + 1);
            $end.datepicker('setDate', startDateNew);
        });

        /**
         * Event listener for check availability button. User to press once they have selected dates
         * Calls function to reset nights and total price, to then redo calulcations
        */
        $('#check-availability').click(function() { 
            resetNightsAndPrice();
            getSelectedDates();
        });

        // Tooltip hover script. Also present on All Listings page
        $('[data-toggle="tooltip"]').tooltip();

    });

</script>