<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuVPCyvgCTjEfhdDsgknO82riLQqZ9vjw&callback=initMap"></script>


<script>
    // Initialize and add the map
    function initMap() {
    // get values
    let latitude = Number(document.getElementById("latitude").textContent);
    let longitude = Number(document.getElementById("longitude").textContent);
    // Listing location
    const listing_location = { lat: latitude, lng: longitude };
    // The map, centered at listing location
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 16,
        center: listing_location,
    });
    // The marker, positioned at listing location
    const marker = new google.maps.Marker({
        position: listing_location,
        map: map,
    });
    }

    window.initMap = initMap;
</script>